html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-weight: 100;
	letter-spacing: 0.01em;
	color: #383838;
}

/* NAV */

#nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #008ED4;
	overflow: hidden;
	color: white;
	z-index: 97;
	box-shadow: 0px 0px 2px #0071bd;
}

#nav h1 {
	display: inline-block;
	margin: 0;
	margin-right: 10px;
	padding: 0;
}

#nav h1,
#nav #nom {
	font-size: 1.2em;
}

#nav a,
#nav form {
	display: inline-block;
	margin:0;
	padding: 0 15px;
	line-height: 50px;
	cursor: pointer;
	font-size: 17px;
	color: white;
	text-decoration: none;
	outline: 0;
}

#nav form ::-webkit-input-placeholder { /* WebKit browsers */
	color:    #92cff3;
}

#nav form :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #92cff3;
	opacity:  1;
}

#nav form ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #92cff3;
	opacity:  1;
}

#nav form :-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #92cff3;
}

#nav a:hover {
	background-color: #0071bd;
}

#nav a.selected {
	text-transform: uppercase;
}

#nav #lien {
	float: right;
}

#nav form input[type=text] {
	background-color: #008ED4;
	border: 0;
	margin: 0;
	padding:0;
	padding-bottom: 5px;
	font-size: 1em;
	color: white;
	border-bottom: 1px white solid;
	font-size: 1em;
	outline: 0;
	font-family: sans-serif;
	width: 200px;
}

#nav form input[type=text]:focus {
	border-bottom: 2px white solid;
}

/* PANEL */

#panel {
	width: 100%;
	overflow: hidden;
	top: 50px;
	left: 0;
	position: fixed;
	display: block;
	background-color: #008ED4;
	z-index: 96;
	color: white;
	text-align: center;
	box-shadow: 0px 0px 2px #0071bd;
}

#panel .profil {
	float: right;
	display: block;
	height: 100%;
	width: 30%;
	border-left: 1px dotted white;
	margin-right: 20%;
	margin-bottom: 25px;
}

#panel .profil span {
	display: inline-block;
	margin-bottom: 10px;
}

#panel .profil img {
	height: 80px;
	width: 80px;
	background-color: #0071bd;
	border-radius: 6px;
	box-shadow: 0px 0px 2px #0071bd;
}

#panel .profil p {
	display: inline-block;
	padding-right: 20px;
	padding-left: 20px;
	text-align: justify;
	font-size: .9em;
}

/* NOTIFICATION */

#panel .notification {
	display: block;
	height: 100%;
	width: 30%;
	margin-left: 20%;
	margin-bottom: 25px;
}

#panel .line_vert {
	display: inline-block;
	height: 100%;
	border-right: 1px dotted white;
}

#panel h3 {
	font-size: 150%;
	font-weight: 200;
	line-height: 1.5;
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	letter-spacing: 0.05em;
	margin: 0;
	margin: 10px;
}

#panel a {
	color: white;
	text-decoration: none;
	font-style: italic;
	font-size: .8em;
}

#panel a:hover {
	text-decoration: underline;
}

#panel .notification .noti {
	text-align: justify;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px;
	font-size: .9em;
	margin-right: 10px;
}

#panel .notification .noti:hover {
	background-color: #0071bd;
}

#panel .notification .noti h4 {
	font-size: 1.1em;
	font-weight: normal;
	margin: 0;
	margin-bottom: 3px;
	padding: 0;
}

/* POPUP */

#pop_overlay {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 98;
	background-image: url('../img/blanc.png');
}

#popup {
	display: block;
	position: fixed;
	top: 10%;
	z-index: 99;
	background-color: white;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	box-shadow: 0px 0px 2px #d0d0d0;
}

/* CONTACT */

#contact {
	display: block;
	position: fixed;
	top: 85px;
	right: 20%;
	left: 20%;
	bottom: 40px;
	border: 1px solid gray;
	border-radius: 5px;
}

#contact .list {
	height: 100%;
	width: 33%;
	border-right: 1px solid gray;
	overflow-x: hidden;
	overflow-y: scroll;
}

#contact .list a {
	display: block;
	text-align: center;
	padding: 15px 15px;
	border-bottom: 1px solid gray;
	cursor: pointer;
	border-right: 3px solid white;
}

#contact .list a.selected {
	border-right: 3px solid #008ED4;
	font-weight: bold;
}

#contact .list a:hover {
	border-right: 3px solid #008ED4;
}

#contact .cont {
	float: right;
	height: 100%;
	width: 66.6%;
}

#contact .cont h3 {
	margin-top: 10%;
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}

#contact .cont span {
	line-height: 170%;
}

#contact .cont span.rule {
	display: inline-block;
	width: 40%;
	padding-right: 3%;
	font-size:	.8em;
	text-align: right;
}

#contact .cont span.data {
	display: inline-block;
}

#contact .cont span.vide {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 30%;
}

#contact .cont .option {
	display: block;
	position: absolute;
	bottom: 10px;
	text-align: center;
	width: 66%;
}

#contact .cont .option a {
	display: inline-block;
	padding: 0 7px;
	text-decoration: none;
	font-style: italic;
	font-size: .8em;
	color: #383838;
	cursor: pointer;
}

#contact .cont .option a:hover {
	text-decoration: underline;
}

/* LOADING GIF */

#loading {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
}

/* MESSAGE D'ERREURE */

.err_msg {
	display: block;
	z-index: 97;
	position: fixed;
	bottom: 30px;
	left: 30px;
	background-color: #d83535;
	box-shadow: 0px 0px 2px #d83535;
	padding: 10px 20px;
	color: white;
	border-radius: 5px;

}

/* MESSAGERIE */

#message {
	display: block;
	position: fixed;
	top: 85px;
	right: 20%;
	left: 20%;
	bottom: 40px;
	border: 1px solid gray;
	border-radius: 5px;
}

#message .list {
	height: 100%;
	width: 33%;
	border-right: 1px solid gray;
	overflow-x: hidden;
	overflow-y: scroll;
}

#message .list a {
	display: block;
	text-align: center;
	padding: 15px 15px;
	border-bottom: 1px solid gray;
	cursor: pointer;
	border-right: 3px solid white;
}

#message .list a.nouveau {
	border-right: 3px dotted #008ED4;
}

#message .list a.selected {
	border-right: 3px solid #008ED4;
	font-weight: bold;
}

#message .list a:hover {
	border-right: 3px solid #008ED4;
}

#message .conversation {
	float: right;
	height: 100%;
	width: 66.7%;
}

#message .conversation .cont {
	display: block;
	position: absolute;
	right: 0;
	width: 66.66%;
	top:0;
	bottom: 100px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#message .conversation .cont span {
	display: block;
	margin-bottom: 5px;
	padding: 0 15px;
}

#message .conversation .cont span.personne {
	color: #0071bd;
	margin-top: 12px;
}

#message .conversation .cont span:first-of-type {
	margin-top: 25px;
}

#message .conversation .cont span:last-of-type {
	margin-bottom: 50px;
}

#message .conversation .writter {
	/*background-color: green;*/
	border-top: 1px solid gray;
	display: block;
	position: absolute;
	bottom: 0;
	height: 100px;
	width: 66.6%;
}

#message .conversation .writter textarea {
	display: block;
	width: 98%;
	height: 60px;
	border: 0;
	margin: 0;
	padding: 1%;
	border-bottom: 1px dotted gray;
}

#message .conversation .writter .foot_send {
	display: inline-block;
	margin-top: 1.5%;
	color: gray;
	font-size: .85em;
}

#message .conversation .writter #send_msg {
	margin-top: 1%;
	margin-right: 1.5%;
	display: block;
	float: right
}
