html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;
	font-weight: 100;
	letter-spacing: 0.01em;
	color: #383838;
}

/* NAV */

#nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #008ED4;
	overflow: hidden;
	color: white;
}

#nav h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 1em;
}

#nav h1,
#nav a,
#nav form {
	display: inline-block;
	margin:0;
	padding: 10px 10px 7px 10px;
	cursor: pointer;
}

#nav a:hover {
	background-color: #0085ba;
}

#nav #lien {
	float: right;
}

#nav form input[type=text] {
	background-color: #008ED4;
	border: 0;
	margin: 0;
	padding:0;
	font-size: 1em;
	color: white;
	border-bottom: 1px white solid;
}

/* CONTACT */

#contact {
	display: block;
	position: fixed;
	top: 60px;
	right: 20%;
	left: 20%;
	bottom: 40px;
	border: 1px solid gray;
	border-radius: 5px;
}

#contact .list {
	height: 100%;
	width: 33%;
	border-right: 1px solid gray;
	overflow: scroll;
}

#contact .list a {
	display: block;
	text-align: center;
	padding: 15px 15px;
	border-bottom: 1px solid gray;
	cursor: pointer;
	border-right: 3px solid white;
}

#contact .list a.selected {
	border-right: 3px solid #008ED4;
	font-weight: bold;
}

#contact .list a:hover {
	border-right: 3px solid #008ED4;
}

#contact .cont {
	float: right;
	height: 100%;
	width: 66.6%;
}

#contact .cont h3 {
	text-align: center;
	font-weight: normal;
	font-size: 1.5em;
}

#contact .cont span {
	line-height: 170%;
}

#contact .cont span.rule {
	display: inline-block;
	width: 40%;
	padding-right: 3%;
	font-size:	.8em;
	text-align: right;
}

#contact .cont span.data {
	display: inline-block;
}
